APP_URL=http://example.test
LARAVEL_PATH=/example/path/to/laravel
ROUTES_JSON=routes.json
LOGIN_PATH=/login
DASHBOARD_PATH=/dashboard
E2E_EMAIL=example@example.com
E2E_PASSWORD=example123
HEADLESS=false
ASSUME_AUTHENTICATED=false
STOP_ON_ERROR=false
STOP_ON_FAIL_ROUTE=false
SCREENSHOT_ON_ERROR=true
TRACE=true
SKIPPED_JSON=skipped.json